.loader {
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--color-primary);
  border-top-color: currentColor;
  animation: spin 0.8s linear infinite;
}

.sm {
  width: 13px;
  height: 13px;
  border-width: 2px;
}

.md {
  width: 40px;
  height: 40px;
  border-width: 4px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
