.btn {
  min-height: 40px;
  padding: 10px;
  border-radius: var(--rounded);
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn--primary:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.btn--accent {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

.btn--accent:hover {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}
