.form {
  background-color: var(--color-accent);
  padding: 20px;
  border-radius: var(--rounded);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
