.container {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 0px 20px;
}

.title {
  color: var(--color-accent);
}
