.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.label {
  font-weight: 600;
  color: var(--color-secondary);
}

.selector {
  padding: 10px;
  min-width: 200px;
  border-radius: var(--rounded);
  cursor: pointer;
  transition: var(--transition);
}
.selector:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.selector:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.loader {
  height: 43px;
  width: 200px;
  border-radius: var(--rounded);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  opacity: 0.6;
  pointer-events: none;
}
